<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hasibuan.sabtusore">


    <application
        android:allowBackup="true"
        android:icon="@drawable/school"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".BuatBiodata" />
        <activity android:name=".LihatBiodata" />
        <activity android:name=".UpdateBiodata" />
        <activity android:name=".LihatData" />
        <activity android:name=".BuatCatatan" />
        <activity android:name=".LihatCatatan" />
        <activity android:name=".DetailCatatan" />
        <activity android:name=".UpdateCatatan" />
        <activity android:name=".JadwalKuliah" />
        <activity android:name=".Alarm" />

        <receiver
            android:name=".ReceiverYeah"
            android:process=":remote" />
        <receiver
            android:name=".BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".JadwalHarian" />
        <activity android:name=".Info" />

        <!--
        <service
            android:enabled="true"
            android:name=".MyService"
            android:exported="false"
            android:stopWithTask="false" />
        -->

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CardviewJadwal"></activity>
    </application>

</manifest>